.darkBG {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 2;
  }
  
  .centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
  }
  
  .modal {
    width: auto;
    height: auto;
    background: white;
    color: white;
    z-index: 10;
    border-radius: 16px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
  
  .modalHeader {
    height: 50px;
    background: white;
    overflow: hidden;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
  
  .heading {
    margin: 0;
    padding:20px 10px 0 10px;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    color: #455a64;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .modalContent {
    padding: 0 15px 15px 15px;
    font-size: 14px;
    color: #2c3e50;
    text-align: center;
    height: auto;
  }
  
  .modalActions {
    margin-bottom: 10px;
    width: 100%;
  }
  
  .actionsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
  }